{% extends "base.html" %}

{% block title %}Tareas{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <div class="card bg-danger-subtle text-dark border-0 shadow-none">
                
                <div class="card-header border-0 bg-transparent pt-4">
                    <h3 class="text-center fw-bold">Mi TO-DO LIST </h3>
                </div>

                <div class="card-body">
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" placeholder="empieza a añadir tareas ">
                        <button class="btn btn-dark">Añadir</button>
                    </div>

                    <div class="p-3 mb-2 bg-white rounded d-flex align-items-center justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tarea1">
                            <label class="form-check-label fw-medium" for="tarea1">
                                miau miau
                            </label>
                        </div>

                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Opciones
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Editar tarea</a></li>
                                <li><a class="dropdown-item" href="#">Editar fecha</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="#">Borrar tarea</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
    </div>
</div>
{% endblock %}